<!--<h2>Listado productos</h2>

<table>
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Fecha Alta</th>
            <th>Descatalogado</th>
            <th>Categoria</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of productos">
            <th>{{producto.codigo}}</th>
            <th>{{producto.nombre}}</th>
            <th>{{producto.precio | euro}}</th>
            <th>{{producto.descripcion}}</th>
            <th>{{producto.fechaAlta | date:'dd/MM/yyyy'}}</th>
            <th class="red">{{producto.descatalogado | myBool}}</th>
            <th>{{producto.categoria}}</th>
            <td><button (click)='navigateToEdit(producto.codigo)'>Edit</button></td>
        </tr>
    </tbody>
</table>

<h2 class="first">Listado productos</h2>
<p-table [value]="productos" [responsive]="true">
    <ng-template pTemplate="header">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Descripción</th>
            <th>Fecha Alta</th>
            <th>Descatalogado</th>
            <th>Categoria</th>
            <th>Editar</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-producto>
        <tr>
            <td>{{producto.codigo}}</td>
            <td>{{producto.nombre}}</td>
            <td>{{producto.precio | euro}}</td>
            <td>{{producto.descripcion}}</td>
            <td>{{producto.fechaAlta | date:'dd/MM/yyyy'}}</td>
            <td class="red">{{producto.descatalogado | myBool}}</td>
            <td>{{producto.categoria}}</td>
            <td><button (click)='navigateToEdit(producto.codigo)'>Edit</button></td>
        </tr>
    </ng-template>
</p-table>-->

<h2 class="first">Listado productos</h2>
<div style="text-align: center;">
    <p-table [columns]="cols" [value]="productos" [scrollable]="true" [style]="{'width':'100%'}" scrollHeight="500px">
        <ng-template pTemplate="colgroup" let-columns>
            <colgroup>
                <col *ngFor="let col of columns" >
            </colgroup>
        </ng-template>
        <ng-template pTemplate="header" let-columns >
            <tr>
                <th *ngFor="let col of columns" >
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-producto >
            <tr (click)='navigateToEdit(producto.codigo)'>
                <td>{{producto.codigo}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.precio | euro}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.fechaAlta | date:'dd/MM/yyyy'}}</td>
                <td class="red" >{{producto.descatalogado | myBool}}</td>
                <td>{{producto.categoria}}</td>
            </tr>
        </ng-template>
        <!--<ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns" class="ui-resizable-column">
                    {{rowData[col.field]}}
                </td>
                <td><button (click)='navigateToEdit(producto.codigo)'>Edit</button></td>
            </tr>
        </ng-template>-->
    </p-table>
</div>

